<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<div th:replace="~{fragments/admin_header :: admin_header}"></div>

	<div class="form-container">
		<h1>管理者ログイン</h1>

		<p th:if="${message}" class="error-message" th:text="${message}">
		<form th:action="@{/admin/login}" method="post">

			<div class="form-row">
				<label>メールアドレス</label>
			</div>
			<div class="form-row">
				<input type="email" name="email">
			</div>
			<div class="form-row">
				<label>パスワード</label>
			</div>
			<div class="form-row">
				<input type="password" name="password">
			</div>
			<div class="form-row">
				<button type="submit">ログイン</button>
			</div>
		</form>

		<p>-----------------------下記でログインしてください-----------------------</p>
		<p>メールアドレス：admin@example.com</p>
		<p>パスワード：admin</p>
		<p></p>
		<p>ログインすると商品追加・編集・削除ができます</p>

	</div>
</body>

</html>