<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カート</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/home :: home}"></div>

	<table border="1" th:if="${!#lists.isEmpty(cart)}" class="wrap">
		<thead>
			<tr>
				<th></th>
				<th>商品名</th>
				<th>価格</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${cart}">
				<td><img th:src="${item.img}" class="cart-img"></td>
				<td th:text="${item.name}" class="table-text"></td>
				<td th:text="${item.price} + 円" class="table-text"></td>
				<td><form th:action="@{/cart/delete/{id}(id=${item.id})}"
						method="post">
						<button type="submit" class="delete-btn">削除</button>
					</form></td>
			</tr>
		</tbody>
	</table>

	<div th:with="total=${#aggregates.sum(cart.![price])}" class="center">
		<p th:if="${total == null}">カートに入っている商品はありません</p>
		<div th:unless="${total == null}">
			合計： <span th:text="${total} + 円" class="total"></span>
			<form th:action="@{/order}" method="post">
				<button type="submit" class="order-btn">注文</button>
			</form>
		</div>
	</div>

</body>
</html>