<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文一覧</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/tabs :: categoryTabs}"></div>

	<div th:if="${#lists.isEmpty(orders)}" class="center">注文履歴はありません</div>
	<table border="1" th:if="${!#lists.isEmpty(orders)}" class="wrap">
		<thead>
			<tr>
				<th>注文番号</th>
				<th>合計金額</th>
				<th>注文日時</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="order : ${orders}">
				<td><a th:href="@{/orders/{no}(no=${order.no})}"> <span
						th:text="${#numbers.formatInteger(order.no ,6)}"></span>
				</a></td>
				<td th:text="${order.total} +円" class="table-text"></td>
				<td
					th:text="${#temporals.format(order.datetime, 'yyyy/MM/dd HH:mm:ss')}"
					class="table-text"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>