<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文詳細</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/home :: home}"></div>

	<table border="1" th:if="${!#lists.isEmpty(order)}" class="wrap">
		<thead>
			<tr>
				<th>注文番号</th>
				<th>商品名</th>
				<th>価格</th>
				<th>注文日時</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${order.items}">
				<td th:text="${#numbers.formatInteger(item.order.no, 6)}"
					class="table-text"></td>
				<td th:text="${item.name}" class="table-text"></td>
				<td th:text="${item.price} + 円" class="table-text"></td>
				<td
					th:text="${#temporals.format(item.datetime, 'yyyy/MM/dd HH:mm:ss')}"
					class="table-text"></td>
			</tr>
			<tr class="total-row">
				<td></td>
				<td>合計</td>
				<td th:text="${order.total} + '円'" class="table-text"></td>
				<td></td>
			</tr>
		</tbody>
	</table>

</body>
</html>