<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品詳細</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/home :: home}"></div>

	<div class="product-detail">
		<div class="image-area">
			<img th:src="${product.img}" th:alt="${product.name}"
				class="info-area">
			<h2 th:text="${product.name}"></h2>
			<p class="price" th:text="|${product.price}円|"></p>
			<p class="desc" th:text="${product.description}"></p>
			<form th:action="@{/cart/add/{id}(id=${product.id})}" method="post">
				<button class="btn">カートに追加</button>
			</form>
		</div>
	</div>
</body>
</html>