<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>商品編集</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<div th:replace="~{fragments/admin_header :: admin_header}"></div>

	<form th:action="@{/products/admin}" method="get">
		<input type="hidden" name="selectedCategory" th:value="${selectedCategory}">
		<input type="hidden" name="keyword" th:value="${keyword}">
		<input type="hidden" name="sort" th:value="${sort}">
		<button type="submit" class="returnBtn">戻る</button>
	</form>

	<div class="form-container">
		<h1>商品編集</h1>

		<form th:action="@{/products/{id}/edit(id=${product.id})}" th:object="${product}" method="post">

			<div class="form-row">
				<label>商品名</label>
			</div>
			<div class="form-row">
				<input type="text" th:field="*{name}" maxlength="20" required>
			</div>

			<div class="form-row">
				<label>価格</label>
			</div>
			<div class="form-row">
				<input type="number" th:field="*{price}" min="0" max="999999" required>
			</div>

			<div class="form-row">
				<label class="form-label">税率（%）</label> <input type="number" th:field="*{taxRate}" min="0" max="100"
					required>
			</div>

			<div class="form-row">

				<label>カテゴリ</label>
			</div>
			<div class="form-row">
				<select th:field="*{category}" required>
					<option value="">選択してください</option>

					<option th:each="c : ${categories}" th:value="${c.name}" th:text="${c.name}"></option>
				</select>
			</div>
			<div class="form-row">
				<label>説明</label>
			</div>
			<div class="form-row">
				<textarea th:field="*{description}" rows="5" cols="60" maxlength="255" required></textarea>
			</div>

			<input type="hidden" name="selectedCategory" th:value="${selectedCategory}">
			<input type="hidden" name="keyword" th:value="${keyword}">
			<input type="hidden" name="sort" th:value="${sort}">

			<button type="submit">更新</button>
		</form>

		<form th:action="@{/products/{id}/delete(id=${product.id})}" method="post" class="delete-btn-area">
			<button type="submit" class="red-btn" onclick="return confirm('本当に削除しますか？');">削除</button>
		</form>

	</div>



</body>

</html>