<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品登録</title>
</head>
<body>

	<h1>商品登録</h1>

	<form th:action="@{/products}" th:object="${product}" method="post">

		<p>
			商品名: <input type="text" th:field="*{name}">
		</p>

		<p>
			価格: <input type="number" th:field="*{price}">
		</p>

		<p>
			カテゴリ: <select th:field="*{category}">
				<option value="">選択してください</option>

				<option th:each="c : ${categories}" th:value="${c.name}"
					th:text="${c.name}"></option>
			</select>

		</p>

		<p>
			説明: <input type="text" th:field="*{description}">
		</p>

		<p>
			画像URL: <input type="text" th:field="*{img}">
		</p>

		<button type="submit">登録</button>

	</form>

</body>
</html>