<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<header class="header">
		<h1>My Shop</h1>

		<div class="header-right">
			<a href="/orders">注文履歴を見る</a> <a href="/cart"><img
				src="/images/cart.png" alt="カート" class="cart-icon"></a>
		</div>
	</header>


	<div class="tabs">
		<a th:href="@{/products}">All</a> <a th:each="c : ${categories}"
			th:href="@{/products(category=${c.name})}"><span
			th:text="${c.name}"></span></a>
	</div>



	<div class="product-list">
		<div th:if="${#lists.isEmpty(products)}">商品がありません</div>
		<div th:each="p : ${products}" class="product-card">
			<a th:href="@{/products/{id}(id=${p.id})}">
				<p th:text="${p.name}" class="product-item a"></p> <img
				th:src="${p.img}"  class="product-card img">
			</a>
			<p th:text="|${p.price}円|"></p>
		</div>
	</div>




</body>
</html>