<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/tabs :: categoryTabs}"></div>

	<a th:href="@{/products/new}">
		<button class="add-product-btn">商品追加</button>
	</a>

	<div class="product-list">
		<div th:if="${#lists.isEmpty(products)}">商品がありません</div>
		<div th:each="p : ${products}" class="product-card">
			<a th:href="@{/products/{id}(id=${p.id})}">
				<p th:text="${p.name}" class="product-item"></p> <img
				th:src="${p.img}" class="product-card img">
			</a>
			<p th:text="|${p.price}円|"></p>

			<a th:href="@{/products/{id}/edit(id=${p.id})}">[編集]</a>
		</div>
	</div>

</body>
</html>