<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>会員登録</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/home :: home}"></div>

	<div class="form-container">
		<h1>会員登録</h1>

		<p th:if="${message}" class="error-message" th:text="${message}">

			<form th:action="@{/signup}" th:object="${signupForm}" method="post">

				<div class="login-form-row">
					<p>
						<label class="login-label">名前</label>
					</p>
					<p>
						<input type="text" th:field="*{name}">
					</p>

					<p>
						<label class="login-label">メールアドレス</label>
					</p>
					<p>
						<input type="email" th:field="*{email}">
					</p>

					<p>
						<label class="login-label">パスワード</label>
					</p>
					<p>
						<input type="password" th:field="*{password}">
					</p>
				</div>

				<button type="submit">登録</button>

			</form>
	</div>

</body>
</html>